<div class="p-4 max-w-2xl">
  <%= link_to "â† Back to Connection", connection_path(@connection), class: "link-primary text-sm" %>
  <h1 class="mt-2">Edit Connection</h1>
  <%= render "form", connection: @connection %>
</div>
