<div class="p-4 max-w-2xl">
  <%= link_to "â† Back to Connections", connections_path, class: "link-primary text-sm" %>
  <h1 class="mt-2">New Connection</h1>
  <%= render "form", connection: @connection %>
</div>
