/* TODO: decide what to actually use */
:root {
    --font-family-sans:
        "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --color-text-body: hsl(0, 5%, 25%);
    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;
    --font-size-xxxl: 2rem;
    --font-size-xxxxl: 2.5rem;
    --line-height-headers: 1.1;
    --line-height-body: 1.5;

    --color-primary: hsl(350, 67%, 50%);
    --color-primary-rotate: hsl(10, 73%, 54%);
    --color-primary-bg: hsl(0, 85%, 96%);
    --color-secondary: hsl(101, 45%, 56%);
    --color-secondary-rotate: hsl(120, 45%, 56%);
    --color-tertiary: hsl(49, 89%, 64%);
    --color-glint: hsl(210, 100%, 82%);

    --color-white: hsl(0, 0%, 100%);
    --color-background: hsl(30, 50%, 98%);
    --color-light: hsl(0, 6%, 93%);
    --color-dark: var(--color-text-header);
}
