<div class="collapse collapse-arrow bg-base-100">
    <input type="radio" name="row_exeuction_radio">
    <input type="checkbox">
    <div class="collapse-title flex items-center gap-3">
    <div class="badge badge-<%= execution_status_color(row_execution.status) %>"><%= row_execution.status %></div>
    <span class="font-semibold">Row <%= row_execution_counter + 1 %></span>
</div>
<div class="collapse-content">
    <ul class="timeline timeline-vertical timeline-compact pl-4">
      <%= render partial: 'step_execution',
                 collection: row_execution.step_executions,
                 locals: { step_execution_counter_total: row_execution.step_executions.size } %>
    </ul>
  </div>
</div>
