<main class="container prose">
    <h1 class="text-2xl">Data Sources</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Created At</th>
            </tr>
        </thead>
        <%= render @data_sources %>
    </table>
</main>
