<main class="container">
    <h1>Data Sources</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Created At</th>
            </tr>
        </thead>
        <%= render partial: 'data_source', collection: @data_sources %>
    </table>
</main>
