<div class="container p-4 max-w-2xl">
  <%= link_to "â† Back to Workflow", workflow_path(@workflow), class: "link-primary text-sm" %>
  <h1 class="mt-2">Edit Workflow</h1>
  <%= render "form", workflow: @workflow, connections: @connections %>
</div>
