/* i cant be bothered to do this manually for every header */
h1 {
    font-size: var(--text-3xl);
}

h2 {
    font-size: var(--text-2xl);
}

h3 {
    font-size: var(--font-size-xl);
}

h4 {
    font-size: var(--font-size-l);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: var(--heading-bottom-margin);
}
